.right_section{
  background: linear-gradient(270deg, rgb(68, 58, 235) 0%, rgba(46,46,177,1) 98%);
  border-radius: 7px;
  text-align: center;
  height: 100%;
  color: white;
}

.right_section .widget_read_toggle a{
  color: white;
  border-color: white;
}

.resources_title{
  margin: 40px 0;
  font-weight: bold;
  font-size: 48px;
}

.right_section_title{
  font-size: 27px;
  font-weight: 500;
  padding: 0px 92px 18px 92px;
}

