.listenerTitleWrapper{
  display: flex;
  flex-direction: column;
}

.newlistener_title{
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
}

.newlistiner_subtitle{
  padding-right: 98px;
  padding-top: 10px;
  color: #959595d4;
}

.newlistiner_subtitle a{
  color: #959595d4!important;
  border-bottom: 1px solid #959595d4;
}

@media (max-width: 995px) {
  .listenerTitleWrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .newlistiner_subtitle{
    padding: 0;
  }
}

@media (max-width: 768px) {
  .listenerTitleWrapper{
    flex-direction: column;
    padding: 0px 10%;
  }

  .newlistener_title {
    font-size: 32px;
  }

  .newlistiner_subtitle{
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .listenerTitleWrapper{
    padding: 0;
  }

  .newlistener_title {
    font-size: 18px;
  }

  .newlistiner_subtitle {
    font-size: 12px;
  }
}
